extends ../../layout.pug

block content 
  h1 Welcome back 
  p Sign in & get Latest News
  form(action="/auth/login" method="POST")
    div 
      label(for="userLogin") Username 
      input(
        type="text"
        placeholder="Enter your username"
        name="username"
        id="userLogin"
      )
    div 
      label(for="userPass") Password 
      input(
        type="password"
        placeholder="Enter your password"
        name="password"
        id="userPass"
      )
    div 
      input(type="submit" valud="Sign in")
